body{
  font-family: 'Poppins', sans-serif;
}

/* stay Focused section's verticale line */
.vertical-line{
    border-left: 4px solid #FF5959;
    height: 134px;
    padding-left: 13px;  
    margin-left: 156px;
    
}

/* stay Focused section section started */

.flexible-container div img{
  width: 426px;
  height: 623px;
  margin-right: 207px;
}

.flexible-container h1{
 
    font-size: 60px;
  
}

section div p{
  font-size: 18px;
  font-weight: normal;
}
#text-part{
  margin-left: 157px;
  margin-right: 179px;
}


/* MY Mission section in 2022 */

#goal-container{
  margin-top: 42px;
  margin-bottom: 86px;
}
#my-mission{
  display: flex;
  justify-content: center;
  align-items: center;
}
#my-mission h1{ 
    font-size: 60px 
}
#card-container{
  display: flex;
  margin-top: 48px;
  margin-left: 156px;
  margin-right: 156px;
  
}
#card-container div{
  padding-right: 13px;
  border-radius: 26px;
  margin-left: 24px;
}


#card-container img{
  margin-top: 25px;
  height: 141px;
  width: 141px;
}




/* common class */
.flexible-container{
  display: flex;
  align-items: center;
}

span{
  font-size: 60px;
  color: #FFAD5A;
}
.btn{
  background-color: #FF5959;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  color:#ffffff;
  text-decoration: none;
  margin-bottom: 45px;
}
.bg-Mission{
  background-color:rgba(79, 157, 166, 0.1) ;
}
.bg-Vission{
  background-color:rgba(255, 89, 89, 0.1) ;
}
.bg-goals{
  background-color:#FFF4D6;
}